<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RestOfHW1/src/PR1_2/IteratingTheArguements.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="PR1_2.IteratingTheArguements"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RestOfHW1"/>
</launchConfiguration>
